.p1{
    padding-left: 16px;
    font-size: 17px;
    margin: 10px 0;
}
.btn-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button{
        width: 70%;
    }
}