<ion-header>
  <ion-toolbar color="primary" >
    <ion-buttons slot="end">

 
      <ion-button color="light" expand="full" (click)="close()">
        <ion-icon name="close-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
    <ion-title> Date </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 <div class="btn-div">
  <ion-datetime presentation="date-time"></ion-datetime>
 </div>
  <div class="btn-div">
    <ion-button (click)="saveDate()" > Select</ion-button>
   </div>
</ion-content>