.grid-container{
    padding: 12px 10px ;
    display: grid;
    grid-template-columns: 100px auto auto auto auto auto auto;
    font-size: 13px;
    grid-gap: 1px;
    font-weight: 800;
    height: 50px;

    div{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            width: 100%;
            text-align: left;
            font-size: 13px;
            font-weight: 800;
            line-height: 13px;
        }
    }
}
.light-bg{
    background: rgb(243, 243, 243);
}
.dark-bg{
    background: rgb(221, 221, 221);
}
ion-segment{
    min-height: 40px;
    font-size: 12px;
    ion-segment-button{
        font-size: 12px;
        --background : rgb(233, 233, 233);
        --indicator-color	 : rgb(233, 233, 233);
        --background-checked : var(--ion-color-primary);
        --color-checked : #fff;
        width: 50%;
  
    }
    
}

table{
    margin-top: 20px;
    font-size: 12px;
    width: 100%;
    ion-input{
        padding: 0;
        --padding-top : 0;
        --padding-bottom : 0;
        --padding-start : 0;
        --padding-end : 0;
    }

}
table, th, td {
    border: 1px solid black;
  }
  th, td {
    padding: 10px 5px;
    font-weight: 800;
    text-align: center;
  }
  td{
  }
  .btn-div{
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button{
        width: 70%;
    }

}
.score-div{
    padding: 20px 0;
    background: var(--ion-color-danger);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
    .p1{
        font-size: 12px;

    }
    .p2{
        font-size: 40px;
    }
}
.warning-item{
    --inner-padding-top : 10px;
    --inner-padding-bottom : 10px;
    font-size: 14px;
    font-weight: 700;

}