ion-content{

   p{
    font-size: 13px !important;
    line-height: 18px;
    font-weight: 800;
    color: #000;
   }
}
.p1 {
    text-align: center;
}
.p2{
    text-align: center;
}
.p3{

    text-align: center;
    margin-top: 16px;
    text-decoration: underline;
}
.p4{
    margin-top: 20px;
}
.input-item{
    --padding-start : 5px;
    margin-top: 10px;
    font-size: 14px;
}
.input-item2{
    --padding-start : 0px;
    margin-top: 0px;
    font-size: 14px;
}
.btns-div{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-button{
        width: 70%;
    }
}
.signature-pad{
    width: 200px;
    height: 100px;
    border: solid 1px #000;
    margin: 10px 0;
}
.signature-item {
    margin-top: 20px;
    --inner-padding-start: 0;
    --padding-start: 0;
  }
  .signature-image {
    width: 200px;
    height: 100px;
    margin: 5px 10px 20px;
    border: 1px dotted #383838;
  }